
<h1>Statistics for <%= @current_survey.name %></h1>

<div id="stats">
<% @current_survey.questions.each do |question| %>

  <div>
    <span class="q_title" style="width: 100%"><%= question.title %> </span>
    <br>
    <div id="<%=question.title%>-d" style="width: 30%; height: 300px; margin: 0; display: inline-block; "></div>
    <div id="<%=question.title%>-b" style="width: 60%; height: 300px; margin: 0; display: inline-block; "></div>
  </div>
   <script type="text/javascript">
    Morris.Donut({
      element: '<%=question.title%>-d',
      data: <%= get_question_breakdown(question) %>,
      colors :["#33B5E5","#99CC00","#FFBB33","#FF4444"]
    });
  </script>
  <script type="text/javascript">
    // console.log(<%= get_question_breakdown(question) %>);
    Morris.Bar({
      element: '<%= question.title %>-b',
      data: <%= get_question_breakdown(question) %>,
      xkey: 'label',
      ykeys: ['value'],
      labels: ['Votes'],
      barColors: ["#33B5E5"],
      hideHover: true
    });
  </script>
<% end %>

</div>

<div class="btn-toolbar">
  <a class="btn" href='/logout'><i class="ico n-user"></i>Log out</a>
</div>

<div class="btn-toolbar" id="home_button">
  <a class="btn" href='/home'><i class="ico n-user"></i>Home</a>
</div>


<!-- 
<div class="progress progress-info">

  <div class="bar" style="width: 20%"></div>
</div>
<div class="progress progress-success">
  <div class="bar" style="width: 40%"></div>
</div>
<div class="progress progress-warning">
  <div class="bar" style="width: 60%"></div>
</div>
<div class="progress progress-danger">
  <div class="bar" style="width: 80%"></div>

</div>
